<a routerLink="/clientOnboard">


  <div class="newclient">Create New Client</div>
</a>

<h3>Rakuten Clients</h3>
<ul class="clients">
  <li *ngFor="let client of clients">
    <a routerLink="/clients/{{client.serviceUuid}}">
      <div class=clientlist-row>
          serviceUuid:{{client.serviceUuid}}
        <!-- <span class="badge">{{client.id}}</span> -->
        <div class="name">{{client.name | uppercase}}</div>
        <div class="uri">URI: {{client.uri}}</div>
        <div class="desc">Description: {{client.description | slice:0:500}}</div>
        <div class="countryoforigin">Country of Origin: {{client.countryOfOrigin}}</div>
        <div class="region">Region: {{client.region}}</div>
        <div class="creationdate">Creation Date:{{client.createdDate | slice:0:10}}</div>

      </div>
    </a>
  </li>
</ul>
