<form #agreementForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
                <div class="form-group">
                    <label class="control-label" for="language">Language</label><br>
                    <select #language="ngModel" required id="language" name="language" type="text" placeholder="language" [(ngModel)]="agreement.language">
                        <option selected disabled>Select Language of Agreement</option>
                        <option value="en">English</option>
                        <option value="fr">French</option>
                        <option value="oth">Othes</option>
                    </select>
                    <div class="alert alert-danger" [hidden]="language.valid">language is required</div>
                </div>
                        <div class="form-group">
                            <label class="control-label" for="type">type</label><br>
                            <select #type="ngModel" required id="type" name="type" type="text" placeholder="type" [(ngModel)]="agreement.type">
                                <option selected disabled>Select Type of Agreement</option>
                                <option value="tandc">Terms & Agreements</option>
                                <option value="pp">Privacy Policy</option>
                                <option value="OTH">Othes</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" [hidden]="type.valid">Type is required</div>
                <div class="form-group">
                            <label class="control-label" for="agreementname">agreementname</label>
                            <input class="form-control input-md" #agreementname="ngModel" required id="agreementname" name="agreementname" type="text" placeholder="agreementname" [(ngModel)]="agreement.agreementname">
                            <div class="alert alert-danger" [hidden]="agreementname.valid">agreementname is required</div>
                        </div>
                   <div class="form-group">
                            <label class="control-label" for="agreementcontent">agreementcontent</label>
                            <textarea class="form-control input-md" #agreementcontent="ngModel" id="agreementcontent" name="agreementcontent" type="paragraph" placeholder="agreementcontent" [(ngModel)]="agreement.agreementcontent" ></textarea>
                        </div>
                   <div class="form-group">
                            <label class="control-label" for="operator">operator</label>
                            <input class="form-control input-md" #operator="ngModel" id="operator" name="operator" type="text" placeholder="operator" [(ngModel)]="agreement.operator">
                        </div>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(agreementForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button class="btn btn-outline-rounded btn-info" [disabled]="!agreementForm.valid" (click)="goToNext(agreementForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>

    </div>
</form>
